*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    /* background-color: gray; */
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    width: 100%;
    gap: 20px;
    padding: 0 20px;
}
#nav h4{
    font-size: 20px;
}
#nav i{
    font-size: 15px;
    background-color: black;
    color: white;
    font-weight: 200;
    padding: 10px;
    border-radius: 50%;
}
#center{
    width: 100%;
    padding: 40px 70px;
    
}
#center h1{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 75px;
}
#centerin{
    /* background-color: red; */
    height: 200px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between ;
}
#centerin p{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}
#right{
    width: 20%;
}
.elem{
    /* background-color: yellow; */
    /* margin: 5px ;  */
    padding: 18px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
} 
.elem a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
} 
.elem:hover i{
    opacity: 1;
}
.elem:hover a{
    text-decoration: underline; 
}
#bottom{
    height: 45%;
    width: 100%;
    /* background-color: blue; */
    background-image: url(https://plus.unsplash.com/premium_photo-1669703777695-f8052a432411?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bW9kZWwlMjBwaG90b3xlbnwwfHwwfHx8MA%3D%3D);
    background-position: 0 37%;
    background-size: cover;

}
