@font-face {
    font-family: m;
    src: url(MonumentExtended-Regular.otf);
}
@font-face {
    font-family: g;
    src: url(Gilroy-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: g;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    padding-top: 1px;
    /* background-color: aquamarine; */
    height: 100%;
    width: 100%;
}
#nav{
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
#nav h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 24%;
    /* padding: 2px; */
    /* background-color: blue; */
    border-right: 2px solid black;
    font-size: 23px;
    font-weight: 600;
}
#nav h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    padding: 2px;
    font-family: m;
    /* background-color: blue */
    letter-spacing: -1px;
}
#nav h2:nth-last-child(1){
    width:10%;
    /* background-color: brown; */
}
#center{
    height: 100%;
    /* background-color: rebeccapurple; */
    padding: 5vw;
    width: 100%;
}
#content{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    /* background-color: red; */
    height: 52%;
    width: 100%;
    padding: 3vh;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.154);
    backdrop-filter: blur (2px);
}
#over1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 3vh;
}
#over2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
}
#over1 h1{
    font-family: m;
    font-size: 4vw;
    font-weight: 600;
}
#over1 h2{
    font-size: 3vw;
    padding: 2vw 2vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 1px solid white;
    border-bottom: 2px solid white;
}
#over2 h4{
    font-size: 3.5vw;
    font-weight: 500;
}
#over2 img{
    size: 3vw;
}